Source: ros-rolling-tango-icons-vendor
Section: misc
Priority: optional
Maintainer: Scott K Logan <scott@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ament-cmake, ament-cmake-copyright <!nocheck>, ament-cmake-cppcheck <!nocheck>, ament-cmake-cpplint <!nocheck>, ament-cmake-flake8 <!nocheck>, ament-cmake-lint-cmake <!nocheck>, ament-cmake-pep257 <!nocheck>, ament-cmake-uncrustify <!nocheck>, ament-cmake-xmllint <!nocheck>, ament-lint <!nocheck>, ros-rolling-ros-workspace
Homepage: http://ros.org/wiki/qt_gui_icons
Standards-Version: 3.9.2

Package: ros-rolling-tango-icons-vendor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, tango-icon-theme, ros-rolling-ros-workspace
Description: tango_icons_vendor provides the public domain Tango icons for non-linux systems (Tango Icon Library) from the Tango Desktop Project
